
<div class="row">
<div class="col-sm-4">
<p>
  <%= image_tag @app.image_url, :style =>"width:100%;border-radius:10px;" %>
</p>
</div>
<div class="col-sm-4">
  <h1>
    <%= @app.title %>
  </h1>
  <p style="font-size:16px">
    <strong>Description</strong><br/>
    <%= @app.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @app.price %>
  <br/><br/>
    <strong>Category:</strong>
    <%= @app.category %>
  <br/><br/>
    <strong>Platform:</strong>
    <%= @app.platform %>
  <br/><br/>
    <strong>Downloads:</strong>
    <%= @app.downloads %>
  </p>
</div>
  <div class="col-sm-4">
      <br/><br/><br/>
    <a class="btn btn-warning btn-lg" href="/cart/<%=@app.id%>">Add to Cart</a><br><br>

  </div>
</div>

<div style="clear:both"></div>
<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
</div>